.demo-left-side {
    background-color: slategrey;
    flex-shrink: 0;
    align-items: flex-start;
    order: 0;
    height: 650px;
    flex-direction: row;
    width: max-content;
    padding: 10px;
}

.demo-left-side>vscode-button {
    margin-bottom: 5px;
}

.demo-right-side {
    /* background-color: rgb(188, 171, 171); */
    flex-grow: 1;
    flex-shrink: 0;
    order: 0;
    height: 600px;
    color: var(--foreground);
    width: 100vh;
}

.demo-right-side #warning {
    margin: 30px;
}

.demo-console {
    padding: 5hv;
    background-color: gray;
    height: 10vh;
    overflow: auto;
    margin-left: 5hv;
    margin-right: 5hv;
}