:root {
    --font-family: "Segoe WPC", "Segoe UI", sans-serif;
    --font-size: 13px;
    --font-weight: normal;
}

body * {
    /* Padrão Dark do VSCode */
    font-family: var(--font-family);
}

#main .tds-page {
    width: 95%;
    height: 80vh;
}

.demo-left-side {
    background-color: slategrey;
    /* flex-grow: 1; */
    flex-shrink: 1;
    /* align-items: flex-start; */
    order: 0;
    height: 90vh;
    max-height: 90vh;
    flex-direction: row;
    width: min-content;
    padding: 10px;
}

.demo-right-side {
    background-color: rgb(14, 2, 2);
    flex-grow: 1;
    flex-shrink: 1;
    order: 0;
    height: 90vh;
    max-height: 90vh;
    color: var(--foreground);
}

.demo-right-side #warning {
    margin: 30px;
}

.demo-console {
    padding: 5hv;
    background-color: gray;
    height: 10vh;
    overflow: auto;
    margin-left: 5hv;
    margin-right: 5hv;
}